doctype html
html
    head
        meta(charset="utf-8")
        meta(name=viewport content="width=device-width,initial-scale=1")
        title Login
        link(rel="icon" href="/public/favicon.svg" type="image/x-icon")
        link(rel="stylesheet" href="/login/assets/style.css")
        link(rel="stylesheet" href="/login/assets/css/font-awesome.min.css")
        script(src="/login/assets/login-bundle.js")
        style(type='text/css').
           * {
                margin: 0px;
                padding: 0px;
           }
           #login {
                margin: 0px;
                padding: 0px;
            }
    body
        #login /login did not load correctly. Please try again in a moment.
        