html,
body,
div{
    margin:0px;
    padding:0px;
    background-color:transparent;
    box-sizing: border-box;
}

html,
body{
    height:100%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

#root{
    height:100%;
    width:100%;
}